<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601726265396-sdui5677hlr1g2r601jm7trb900ugang.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601726265396-sdui5677hlr1g2r601jm7trb900ugang</string>
	<key>API_KEY</key>
	<string>AIzaSyAuOJCbN_iHxmLN48jn44jGa3NqJqJYvrM</string>
	<key>GCM_SENDER_ID</key>
	<string>601726265396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-flutter-d9e1b</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-flutter-d9e1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601726265396:ios:8cf1cb870c7824556b8261</string>
</dict>
</plist>